@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  background-color: #141414;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #1f1f1f;
  width: auto;
  border-radius: 15px;
  padding: 30px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.location {
  font-size: 14px;
  color: #c5f82a;
  margin-bottom: 30px;
}

.description {
  font-size: 16px;
  margin-bottom: 30px;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #ffff;
  background-color: #333333;
}

.social-links a:hover {
  cursor: pointer;
  background-color: #c5f82a;
  color: #141414;
}

@media (max-width: 468px) {
  .container {
    width: 95%;
  }
}
